Source: booredis
Section: libs
Priority: extra
Maintainer: Andriy Senkovych <jolly_roger@itblog.org.ua>
Uploaders: Oleksandr Senkovych <bjsenya@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), 
    cmake (>= 2.8.5), 
    libgtest-dev,
    redis-server,
    libboost-thread-dev (>= 1.42), 
    libboost-system-dev (>= 1.42)
Standards-Version: 3.9.4.0
Homepage: https://github.com/blackjack/booredis
Vcs-Git: git://github.com/blackjack/booredis.git
Vcs-Browser: https://github.com/blackjack/booredis

Package: libbooredis0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Asyncronous boost::asio-based Redis client library.
 It's main purpose is simplicity. You don't have to worry about almost
 nothing: it's very easy to use.
 .
 For now due to it's async nature it's not very usable to get values from
 Redis, but it's very convenient way to use for setting values and subscribing.

Package: libbooredis-dev
Section: libdevel
Architecture: any
Depends: libbooredis0 (= ${binary:Version}), ${misc:Depends}
Description: Asyncronous boost::asio-based Redis client library.
 It's main purpose is simplicity. You don't have to worry about almost
 nothing: it's very easy to use.
 .
 For now due to it's async nature it's not very usable to get values from
 Redis, but it's very convenient way to use for setting values and subscribing.
 .
 These are the development files.

Package: libbooredis0-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libbooredis0 (= ${binary:Version})
Replaces: libbooredis-dbg (<< 0.1.0)
Description: Asyncronous boost::asio-based Redis client library.
 It's main purpose is simplicity. You don't have to worry about almost
 nothing: it's very easy to use.
 .
 For now due to it's async nature it's not very usable to get values from
 Redis, but it's very convenient way to use for setting values and subscribing.
 .
 This package contains debugging symbols
