#!/usr/bin/make -f

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

export CPPFLAGS CFLAGS CXXFLAGS LDFLAGS

%:
	dh $@ --buildsystem=cmake

.PHONY: override_dh_strip override_dh_auto_build
override_dh_strip:
	dh_strip --dbg-package=libbooredis0-dbg

override_dh_auto_build:
	dh_auto_build $@ --parallel

